# OpenAI API Key (Required for embeddings and LLM)
OPENAI_API_KEY=sk-your-api-key-here

# OpenAI Models (Optional - defaults provided)
OPENAI_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

# Google Gemini Configuration for LLM client (Optional - enable by setting USE_GEMINI=True)
USE_GEMINI="True"
GEMINI_MODEL="gemini-2.5-flash-lite"
# Authentication for Google services
GOOGLE_CLOUD_PROJECT="<your-gcp-project-id>"
GOOGLE_CLOUD_PROJECT_LOCATION="us-central1"
## Used only on local environment
GOOGLE_APPLICATION_CREDENTIALS="./service-account-key.json"

# Database (Configured in docker-compose.yml)
DATABASE_URL=postgresql://docuser:docpass@localhost:5432/docdb

# Upload Settings
UPLOAD_DIR=./uploads
MAX_FILE_SIZE=50  # MB
